.blind{
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 0; 
	height: 0; 
	font-size: 0; 
	line-height: 0; 
	text-indent: -9999px; 
	overflow: hidden; 
	visibility: hidden;
}

/* List */
.list {
    padding: 0;
    font-size: 14px;
}
.list li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid var(--linegray);
    letter-spacing: -0.02em;
}
.list li .list--text {
    flex-basis: calc(100% * (219 / 427));
}
.list li .list--date {
    /* flex-basis: 100% !important; */
	flex-basis:100%;
    color: var(--blue-gray);
}

.list li :nth-child(2) {
    flex-basis: calc(100% * (147 / 427));
}
.list li :nth-child(3) {
    flex-basis: calc(100% * (72 / 427));
}
.list li .list--right {
    flex-basis: 100%;
    align-self: flex-end;
    text-align: right;
}

/* Badge */
.badge {
    width: 40px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    color: var(--basic-black);
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    border-radius: 3px;
    vertical-align: middle;
}

.badge.badge--black {
    background-color: var(--basic-black);
    color: var(--white);
}
.badge.badge--gray {
    background-color: var(--basic-gray);
    color: var(--white);
}
.badge.badge--red {
    background-color: var(--red-up);
    color: var(--white);
}
.badge.badge--green {
    background-color: var(--light-green);
    color: var(--white);
}
.badge.badge--dark-green {
    background-color: var(--dark-green);
    color: var(--white);
}
.badge.badge--white {
    background-color: var(--white);
    color: var(--basic-black);
}

/* Table */
.table {
    width: 100%;
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: var(--basic-black);
}
.table th {
    font-weight: 700;
    font-size: inherit;
    color: inherit;
}
.table td {
    font-weight: 400;
    font-size: inherit;
    color: var(--basic-gray);
}
.table th,
.table td {
    line-height: 20px;
    min-height: 25px;
}

/* Icon */
[class^=icon-] {
    vertical-align: middle;
    display: inline-block;
    align-self: center;
}

.icon-new::before {
    font-weight: 900;
    content: "NEW";
    width: 11px;
    height: 11px;
    font-size: 11px;
    line-height: 16px;
    color: var(--light-red);
}
.icon-calendar {
    width: 18px;
    height: 20px;
    background: url('../img/icon/icon-calendar.svg') no-repeat center center;
}
.icon-user-fill {
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon-user-fill.svg') no-repeat 50%;
}
.icon-user-fill-add {
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon-user-fill-add.svg') no-repeat 50%;
}
.icon-database-fill {
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon-database-fill.svg') no-repeat 50%;
}
.icon-circle-fill {
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon-circle-fill.svg') no-repeat 50%;
}
.icon-load-circle-fill {
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon-load-circle-fill.svg') no-repeat 50%;
}
.icon-desk-fill {
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon-desk-fill.svg') no-repeat 50%;
}
.icon-question {
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon-question.svg') no-repeat 50%;
}
.icon-chat-alt {
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon-chat-alt.svg') no-repeat 50%;
}

.icon-search {
    width: 14px;
    height: 14px;
    background: url('../img/icon/icon-search.svg') no-repeat 50%;
}
.icon-refresh{
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon-Refresh.svg') no-repeat 50%;
}

.icon-transaction{
	width: 24px;
    height: 24px;
    background: url('../img/icon/icon-transaction-red.svg') no-repeat 50%;
	background-size: contain;
}

.icon-transaction-black{
	width: 24px;
    height: 24px;
    background: url('../img/icon/icon-transaction.svg') no-repeat 50%;
	background-size: contain;
}

.icon-alarm{
	width: 24px;
    height: 24px;
    background: url('../img/icon/icon-alarm.svg') no-repeat 50%;
}

.icon-setting{
	width: 24px;
    height: 24px;
    background: url('../img/icon/icon-setting.svg') no-repeat 50%;
}

.icon-shield{
	width: 24px;
	height: 24px;
	background: url(../img/icon/icon-shield.svg) no-repeat 50%;
	/* background-size: cover; */
	/* margin-right: 5px; */
}

.icon-faq{
	width: 24px;
	height: 24px;
	background: url(../img/icon/icon-faq.svg) no-repeat 50%;
}

.icon-inquiry{
	width: 24px;
	height: 24px;
	background: url(../img/icon/icon-inquiry.svg) no-repeat 50%;
}

[class^=ico-] {
    width: 16.79px;
    height: 14.9px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.ico-제품등록 {
    background-image: url('../img/icon/ico-제품등록.svg');
}

.ico-판매 {
    width: 16.54px;
    height: 15.03px;
    background-image: url('../img/icon/ico-판매.svg');
}

.ico-구매 {
    width: 15.44px;
    height: 14.79px;
    background-image: url('../img/icon/ico-구매.svg');
}

.ico-공동구매 {
    width: 17.36px;
    height: 9.08px;
    background-image: url('../img/icon/ico-공동구매.svg');
}

.ico-경매등록 {
    width: 16.59px;
    height: 16.49px;
    background-image: url('../img/icon/ico-경매등록.svg');
}

.ico-경매구매 {
    width: 15.18px;
    height: 15.89px;
    background-image: url('../img/icon/ico-경매구매.svg');
}

.ico-경매판매 {
    width: 15.74px;
    height: 15.66px;
    background-image: url('../img/icon/ico-경매판매.svg');
}

/* Button */
.btn {
    margin: 0;
    padding: 0;
    border: 0 none;
    display: inline-block;
    width: 140px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.btn.btn--block {
    width: 100%;
    display: block;
}
.btn.btn--white {
    background: var(--white);
    color: var(--basic-black) !important;
    border: 1px solid var(--blue-gray);
}
.btn.btn--red {
    background: var(--red-up);
    color: var(--white) !important;
}
.btn.btn--blue {
    background: var(--blue-dn);
    color: var(--white) !important;
}
.btn.btn--gray {
    background: var(--blue-gray);
    color: var(--white) !important;
}
.btn.btn--blue-gray {
    background: var(--blue-gray);
    color: var(--white) !important
}
.btn.btn--transparent {
    background: transparent;
    color: var(--basic-black) !important;
}
.btn.btn--star {
    width: 16px;
    height: 15px;
    background: transparent url('../img/icon/star.svg') no-repeat center center;
    border: 0 none;
    border-radius: 0.5px;
    vertical-align: middle;
}
.btn--star--on {
    width: 16px;
    height: 15px;
    background: #FFC42D;
    -webkit-mask-image: url('../img/icon/star.svg');
    mask-image: url('../img/icon/star.svg');
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 4px 4px #FFE072;
    border: 0 none;
    border-radius: 0.5px;
    vertical-align: middle;
	margin-right: 5px;
}
.btn.btn--write {
    width: 195px;
}
.btn.btn--list {
    width: 100px;
}
.btn--modify {
    width: 100px;
}
.btn.btn--rounded {
    border-radius: 5px;
}
.btn.btn--close {
    width: 35px;
    height: 35px;
    background: transparent url('../img/icon/btn-close.svg') no-repeat center center;
    border-radius: 5px;
}

.btns {
    display: flex;
    column-gap: 10px;
}

/* Tab */
.tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.tabs li {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;
    border: 0.5px solid var(--linegray);
    height: 30px;
    box-sizing: border-box;
}

.tabs li.on {
    background: rgba(35, 145, 170, 0.5);
    border: 0.5px solid #2391AA;
    color: var(--white);
    font-size: 12px;
}
/* .tabs li:first-child {
    background: rgba(35, 145, 170, 0.5);
    border: 0.5px solid #2391AA;
    color: var(--white);
    font-size: 12px;
} */

.tabs li button {
    color: inherit;
}

.tabs li button {
    width: 100%;
    background: transparent;
    border: 0 none;
    font-weight: 700;
    font-size: inherit;
    text-align: center;
    height: 100%;
    line-height: 0;
}

/* Grid Table */
.grid-table {
    width: 100%;
    border-collapse: collapse;
    letter-spacing: -0.02em;
}

.grid-table thead th {
    padding: 0 !important;
    height: 44px;
    background: transparent !important;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -0.02em;
    border: 0 none !important;
    border-bottom: 1px solid var(--black-green) !important;
    text-align: center !important;
    font-family: normal !important;
}

.grid-table tbody tr.selected td {
    box-shadow: inset 0 0 0 9999px #F8F8F8 !important;
    color: unset !important;
}

.dataTables_scrollBody::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
.dataTables_scrollBody::-webkit-scrollbar-button {
    height: 8px;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb{
    background: var(--red-up);
    border-radius: 5px;
}
.dataTables_scrollBody::-webkit-scrollbar-track{
    background:rgba(119, 119, 119, 0.1); /* 또는 트랙에 추가한다 */
}

.grid-table thead tr {
    border-bottom: 1px solid var(--black-green);
}

.ui-jqgrid  {
    border: 0 none !important;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    background: transparent !important;
    border: 0 none !important;
}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div .s-ico {
    align-self: flex-start;
}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-jqgrid .ui-state-highlight,
.ui-jqgrid .ui-state-hover {
    background: transparent !important;
}
.ui-jqgrid-htable {
    width: 100%;
    border-bottom: 0.5px solid var(--linegray)
}
.ui-jqgrid-bdiv {
    border-bottom: 0.5px solid var(--linegray)
}

.ui-jqgrid .ui-icon-desc {
    margin-left: unset !important;
}
.ui-jqgrid-htable thead tr th {
    height: 44px !important;
    background: transparent !important;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -0.02em;
    border: 0 none !important;
    border-bottom: 1px solid var(--black-green) !important;
}
.ui-jqgrid .ui-jqgrid-hbox{
    padding-right: 0 !important;
}
.ui-th-column {
    padding-left: 7.5px !important;
    padding-right: 7.5px !important;
}
#jqGrid tbody tr td {
    padding: 0 7px !important;

}
#jqGrid_Type {
    padding: 0 3.5px !important
}
#detailsGrid2 .grid-table tbody tr td {
    padding: 0 10px !important;
}
.grid-table tbody tr:not(.jqgfirstrow) td{
    height: 45px !important;
    line-height: 45px !important;
    font-family: "Noto Sans KR";
    font-size: 14px;
    letter-spacing: -0.02em;
    border: 0 none;
}

.grid-table tbody tr:not(.jqgfirstrow):not(:last-child) td {
    border-bottom: 0.5px solid var(--linegray) !important;
}

/* Form */
form {
    width: 340px;
    height: 416px;
}

form .form--header {
    width: 100%;
    margin-bottom: 40px;
    align-self: flex-start;
}
form .form--header h1 {
    margin: 0;
    padding: 0;
    //background: url('../img/logo.svg') no-repeat right center;
    font-family: Inter !important;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
}
.form--controls {
    width: 100%;
}
.form--controls .form--label,
.form--controls .control--label {
    width: 100%;
    height: 15px;
    line-height: 15px;
    display: block;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.15px;
    margin-bottom: 2px;
}
.form--controls input[type=text],
.form--controls input[type=password],
.form--controls input[type=number],
.form--controls input[type=email],
.form--controls input[type=url],
.form--controls input[type=tel] {
    padding: 0 0 0 11px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 0.35px solid var(--basic-gray);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: var(--basic-gray);
    box-sizing: border-box;
	background: #fff;
}

.form--controls input[type=text]::placeholder,
.form--controls input[type=password]::placeholder,
.form--controls input[type=number]::placeholder,
.form--controls input[type=email]::placeholder,
.form--controls input[type=url]::placeholder,
.form--controls input[type=tel]::placeholder {
	font-size: 0.8rem;
	color: var(--mid-gray);
	font-weight: 300;
}

.form--controls .checkbox input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
.form--controls .checkbox input[type=checkbox]+label {
    font-weight: 350;
}
.form--controls .checkbox input[type=checkbox]+label::before {
    margin-right: 12px;
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    border: 0.5px solid #DFDFDF;
    background: var(--white) url('../img/icon/icon-unchecked.svg') no-repeat 50%;
    vertical-align: middle;
    cursor: pointer;
}
.form--controls .checkbox input[type=checkbox]:checked+label::before {
    background-color: #B81C22;
    background-image: url('../img/icon/icon-check2.svg');
    border-color: #B81C22;
}
.form--controls .checkbox input[type=checkbox]:focus+label::before {
    border-color: #B81C22;
}

.input,
.textarea {
    display: inline-grid;
    border: 0.5px solid var(--linegray);
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    padding: 0 10px;
    letter-spacing: -0.02em;
    line-height: 13.4px;
    box-sizing: border-box;
    justify-content: flex-end;
    height: 35px;
    position: relative;
}
.textarea {
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 132px;
    line-height: 26px;
    align-items: flex-start;
    text-align: left;
    resize: none;
}
#white-paper .textarea { overflow: auto; }

.input.input--small {
    height: auto;
}

.input::after,
.input input,
.input textarea {
    grid-area: 1 / 2;
    width: auto;
    min-width: 30px;
    padding: 0;
    border: 0 none;
    height: 100%;
    line-height: 0;
    text-align: inherit;
    font: inherit;
    box-sizing: border-box;
    outline: 0 none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input::after{
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
}
.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	appearance: none;
    margin: 0;
}
.input--group {
    display: flex;
    align-items: center;
}

.input--spiner {
    display: flex;
    justify-content: space-between;
    column-gap: 6px;
    height: 35px;
}
.input--spiner input {
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: right;
    border: 0.5px solid var(--linegray);
    box-sizing: border-box;
    font-size: 18px;
}
.input--spiner input::-webkit-outer-spin-button,
.input--spiner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	appearance: none;
    margin: 0;
}
.input--spiner .spiner-plus,
.input--spiner .spiner-minus{
    width: 35px;
    height: 35px;
    background: var(--white);
    border: 0.5px solid var(--linegray);
    box-sizing: border-box;
}
.input--spiner .spiner-minus::before {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 15px;
    top: 25%;
    background: var(--blue-gray);
    transform: rotate(90deg);
}
.input--spiner .spiner-plus::before {
    transform: rotate(90deg);
}
.input--spiner .spiner-plus::before,
.input--spiner .spiner-plus::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 15px;
    top: 25%;
    background: var(--white);
}
.input--spiner .spiner-minus {
    position: relative;
}
.input--spiner .spiner-plus {
    position: relative;
    background: var(--blue-gray);
    color: var(--white);
    border-left: 0 none;
}
.form--btns {
    margin-top: 99px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.board--subject #subject{
	font-size:20px!important;
}

.board--meta dl dt,
.board--meta dl dd #rdate,
.board--meta #author,
#content p span{
	font-size:15px!important;
}

.accordion {
    font-size: 15px;
}
.accordion .accordion--item:not(.accordion--open) .accordion--header{
    border-radius: 4px;
}

.accordion .accordion--item:not(:last-child) {
    margin-bottom: 12px;
}
.accordion .accordion--item {
    border: 0.35px solid #BDC4CB;
    border-radius: 4px;
}
.accordion .accordion--item.accordion--open .accordion--header {
    border-bottom: 0.35px solid #BDC4CB;
	border-radius: 4px 4px 0 0;
}
.accordion .accordion--item .accordion--header {
    height: 55.59px;
    background: var(--white);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    display: flex;
    line-height: 1;
    align-items: center;
}
.accordion .accordion--item .accordion--header::after {
    width: 35px;
    height: 37px;
    content: "";
    display: block;
    background: url('../img/btn-rolldown.svg') no-repeat;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.accordion .accordion--item .accordion--header a {
    display: flex;
    padding: 0 0 0 15px;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
}
.accordion .accordion--item .accordion--header span {
    font-weight: 500;
    line-height: 23px;
    margin-right: 16px;
}

.accordion--item .accordion--contents {
    height: 0;
    padding: 0 16px 0 52px;
    background: var(--white);
    border-radius: 0 0 4px 4px;
    -webkit-transition: all .12s cubic-bezier(0, 0, 1, 1);
    transition: all .12s cubic-bezier(0, 0, 1, 1);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.accordion--item.accordion--open .accordion--contents {
    padding: 18px 16px 24px 52px;
    height: auto;
    line-height: 23.17px;
}
.accordion--item.accordion--open .accordion--contents p {
    margin: 0;
    line-height: 23.17px;
}
.accordion--item.accordion--open .accordion--header {
    background: var(--lightgray);
}
.accordion--item.accordion--open .accordion--header::after {
    /* transform: rotate(-180deg) translateY(50%); */
	background: url('../img/btn-rollup.svg') no-repeat;
}
.accordion--item .accordion--contents span {
    display: block;
    font-weight: 500;
}

/* Dropdown */
.dropdown-wrapper {
    position: relative;
}
.dropdown {
    display: flex;
    align-items: center;
    color: var(--basic-black);
    position: relative;
    padding: 0 15px 0 10px;
    border: none;/*0.35px solid #DFDFDF;*/
    /* background: rgb(245, 245, 245, .7); */
    background: transparent; /* var(--white);*/
    user-select: none;
    -webkit-user-drag: none;
    font-family: Inter;
    font-size: 14px;
    width: 100%;
    height: 40px;
    letter-spacing: -0.05em;
}
.dropdown::after {
    position: absolute;
    top: 50%;
    right: 0; /* 15px; */
    border: 0 none;
    content: "";
    display: block;
    background: var(--blue-gray);
    -webkit-mask-image: url('../img/icon/dropdown-caret.svg');
    mask-image: url('../img/icon/dropdown-caret.svg');
    width: 10px;
    height: 8px;
    transform: translateY(-50%)
}
.dropdown .flag {
    margin-right: 10px;
}

.dropdown+.dropdown--item {
    min-width: 81px;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white);
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    text-align: center;
    /* padding-top: 9px; */
    box-sizing: border-box;
    z-index: 29;
    max-height: 300px;
    overflow-y: auto;
	box-sizing: border-box;
}
.dropdown+.dropdown--item  span {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.05em;
}
.dropdown+.dropdown--item  span::after {
    display: block;
    content: "";
    position: absolute;
    right: -14px;
    top: 50%;
    width: 10px;
    height: 8px;
    background: var(--blue-gray);
    -webkit-mask-image: url('../img/icon/dropdown-caret.svg');
    mask-image: url('../img/icon/dropdown-caret.svg');
    transform: translateY(-50%);
    border-radius: 50%;
}

.dropdown+.dropdown--item input[name=search] {
    height: 25px;
    line-height: 25px;
    margin: 0 0 9px;
    font-size: 12px;
}

.dropdown+.dropdown--item ul {
    margin: 10px 0 0 0;
    padding: 0 0 13px;
    list-style: none;

}

.dropdown+.dropdown--item ul li {
    list-style: none;
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
}

.dropdown+.dropdown--item ul li:not(:last-child) {
    margin-bottom: 10px;
}

.dropdown+.dropdown--item ul li a {
    display: block;
    height: 100%;
}

.dropdown+.dropdown--item ul li.dropdown--selected {
    color: var(--red-up);
}
.dropdown+.dropdown--item ul li.dropdown--selected a{
    color: inherit;
}
.dropdown+.dropdown--item ul li button {
    background: transparent;
    border: 0 none;
    width: 100%;
    color: inherit;
    font-weight: inherit;
    /* ellipsis */
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.dropdown.dropdown--open+.dropdown--item {
    display: block;
}
.nav--side .language .dropdown--item{left: -5px; /* right: 0; */}

/* */
.grid--code {
    grid-template-columns: repeat(6, 35px);
    grid-template-rows: repeat(1, 50px);
    column-gap: 13px;
    align-self: flex-start;
}
.grid--code > * {
    display: flex;
    border: 0.5px solid #DFDFDF;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: -0.15px;
    text-align: center;
}

.grid--code > *:focus {
    border-color: var(--red-up);
    caret-color: var(--red-up);
    outline: 0 none;
}

.grid--code > input::-webkit-outer-spin-button,
.grid--code > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	appearance: none;
    margin: 0;
}

.grid--code > input[type=number] {
    -moz-appearance: textfield;
	appearance: textfield;
}


/* .validation--message {
        padding: 0 0 0 24px;
        background: transparent url('../img/icon/ico-warn-pink.svg') no-repeat 0 50%;
        color: var(--warning);
    } */
.validation--message {
    width: 100%;
    padding: 14px 10px 14px 40px;
    background: var(--warning) url('../img/icon/ico-warn.svg') no-repeat 10px 13px;
    max-height: 62px;
    letter-spacing: -0.15px;
    color: var(--white);
    font-weight: 500;
    position: relative; 
    box-sizing: border-box;
    word-break: keep-all;
}

.validation--message.subtract{
    background: url('../img/icon/ico-subtract.svg') no-repeat 0 50%;
	color: #34C759;
}

.validation--message p {
    margin: 0;
    line-height: 17px;
}

/* Shapes */
.rounded {
    width: 30px;
    height:30px;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.rounded.rounded--black {
    background: var(--basic-black);
    color: var(--white);
}

/* Flag */
.flag {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    vertical-align: middle;
}
.flag.ad {
    background-image: url(../img/flag/ad.svg);
}
.flag.ae {
    background-image: url(../img/flag/ae.svg);
}
.flag.af {
    background-image: url(../img/flag/af.svg);
}
.flag.ag {
    background-image: url(../img/flag/ag.svg);
}
.flag.ai {
    background-image: url(../img/flag/ai.svg);
}
.flag.al {
    background-image: url(../img/flag/al.svg);
}
.flag.am {
    background-image: url(../img/flag/ai.svg);
}
.flag.ao {
    background-image: url(../img/flag/ai.svg);
}
.flag.aq {
    background-image: url(../img/flag/aq.svg);
}
.flag.ar {
    background-image: url(../img/flag/ar.svg);
}
.flag.as {
    background-image: url(../img/flag/as.svg);
}
.flag.at {
    background-image: url(../img/flag/at.svg);
}
.flag.au {
    background-image: url(../img/flag/au.svg);
}
.flag.aw {
    background-image: url(../img/flag/aw.svg);
}
.flag.ax {
    background-image: url(../img/flag/ax.svg);
}
.flag.az {
    background-image: url(../img/flag/az.svg);
}
.flag.ba {
    background-image: url(../img/flag/ba.svg);
}
.flag.bb {
    background-image: url(../img/flag/bb.svg);
}
.flag.bd {
    background-image: url(../img/flag/bd.svg);
}
.flag.be {
    background-image: url(../img/flag/be.svg);
}
.flag.bf {
    background-image: url(../img/flag/bf.svg);
}
.flag.bg {
    background-image: url(../img/flag/bg.svg);
}
.flag.bh {
    background-image: url(../img/flag/bh.svg);
}
.flag.bi {
    background-image: url(../img/flag/bi.svg);
}
.flag.bj {
    background-image: url(../img/flag/bj.svg);
}
.flag.bl {
    background-image: url(../img/flag/bl.svg);
}
.flag.bm {
    background-image: url(../img/flag/bm.svg);
}
.flag.bn {
    background-image: url(../img/flag/bn.svg);
}
.flag.bo {
    background-image: url(../img/flag/bo.svg);
}
.flag.bq {
    background-image: url(../img/flag/bq.svg);
}
.flag.br {
    background-image: url(../img/flag/br.svg);
}
.flag.bs {
    background-image: url(../img/flag/bs.svg);
}
.flag.bt {
    background-image: url(../img/flag/bt.svg);
}
.flag.bv {
    background-image: url(../img/flag/bv.svg);
}
.flag.bw {
    background-image: url(../img/flag/bw.svg);
}
.flag.by {
    background-image: url(../img/flag/by.svg);
}
.flag.bz {
    background-image: url(../img/flag/bz.svg);
}
.flag.ca {
    background-image: url(../img/flag/ca.svg);
}
.flag.cc {
    background-image: url(../img/flag/cc.svg);
}
.flag.cd {
    background-image: url(../img/flag/cd.svg);
}
.flag.cf {
    background-image: url(../img/flag/cf.svg);
}
.flag.cg {
    background-image: url(../img/flag/cg.svg);
}
.flag.ch {
    background-image: url(../img/flag/ch.svg);
}
.flag.ci {
    background-image: url(../img/flag/ci.svg);
}
.flag.ck {
    background-image: url(../img/flag/ck.svg);
}
.flag.cl {
    background-image: url(../img/flag/cl.svg);
}
.flag.cm {
    background-image: url(../img/flag/cm.svg);
}
.flag.cn {
    background-image: url(../img/flag/cn.svg);
}
.flag.co {
    background-image: url(../img/flag/co.svg);
}
.flag.cr {
    background-image: url(../img/flag/cr.svg);
}
.flag.cu {
    background-image: url(../img/flag/cu.svg);
}
.flag.cv {
    background-image: url(../img/flag/cv.svg);
}
.flag.cw {
    background-image: url(../img/flag/cw.svg);
}
.flag.cx {
    background-image: url(../img/flag/cx.svg);
}
.flag.cy {
    background-image: url(../img/flag/cy.svg);
}
.flag.cz {
    background-image: url(../img/flag/cz.svg);
}
.flag.de {
    background-image: url(../img/flag/de.svg);
}
.flag.dj {
    background-image: url(../img/flag/dj.svg);
}
.flag.dk {
    background-image: url(../img/flag/dk.svg);
}
.flag.dm {
    background-image: url(../img/flag/dm.svg);
}
.flag.do {
    background-image: url(../img/flag/do.svg);
}
.flag.dz {
    background-image: url(../img/flag/dz.svg);
}
.flag.ec {
    background-image: url(../img/flag/ec.svg);
}
.flag.ee {
    background-image: url(../img/flag/ee.svg);
}
.flag.eg {
    background-image: url(../img/flag/eg.svg);
}
.flag.eh {
    background-image: url(../img/flag/eh.svg);
}
.flag.er {
    background-image: url(../img/flag/er.svg);
}
.flag.es {
    background-image: url(../img/flag/es.svg);
}
.flag.et {
    background-image: url(../img/flag/et.svg);
}
.flag.eu {
    background-image: url(../img/flag/eu.svg);
}
.flag.fi {
    background-image: url(../img/flag/fi.svg);
}
.flag.fj {
    background-image: url(../img/flag/fj.svg);
}
.flag.fk {
    background-image: url(../img/flag/fk.svg);
}
.flag.fm {
    background-image: url(../img/flag/fm.svg);
}
.flag.fo {
    background-image: url(../img/flag/fo.svg);
}
.flag.fr {
    background-image: url(../img/flag/fr.svg);
}
.flag.ga {
    background-image: url(../img/flag/ga.svg);
}
.flag.gb {
    background-image: url(../img/flag/gb.svg);
}
.flag.gb-eng {
    background-image: url(../img/flag/gb-eng.svg);
}
.flag.gb-nir {
    background-image: url(../img/flag/gb-nir.svg);
}
.flag.ga-sct {
    background-image: url(../img/flag/gb-sct.svg);
}
.flag.gb-wls {
    background-image: url(../img/flag/gb-wls.svg);
}
.flag.gd {
    background-image: url(../img/flag/gd.svg);
}
.flag.ge {
    background-image: url(../img/flag/ge.svg);
}
.flag.gf {
    background-image: url(../img/flag/gf.svg);
}
.flag.gg {
    background-image: url(../img/flag/gg.svg);
}
.flag.gh {
    background-image: url(../img/flag/gh.svg);
}
.flag.gi {
    background-image: url(../img/flag/gi.svg);
}
.flag.gl {
    background-image: url(../img/flag/gl.svg);
}
.flag.gm {
    background-image: url(../img/flag/gm.svg);
}
.flag.gn {
    background-image: url(../img/flag/gn.svg);
}
.flag.gp {
    background-image: url(../img/flag/gp.svg);
}
.flag.gq {
    background-image: url(../img/flag/gq.svg);
}
.flag.gr {
    background-image: url(../img/flag/gr.svg);
}
.flag.gs {
    background-image: url(../img/flag/gs.svg);
}
.flag.gt {
    background-image: url(../img/flag/gt.svg);
}
.flag.gu {
    background-image: url(../img/flag/gu.svg);
}
.flag.gw {
    background-image: url(../img/flag/gw.svg);
}
.flag.gy {
    background-image: url(../img/flag/gy.svg);
}
.flag.hk {
    background-image: url(../img/flag/hk.svg);
}
.flag.hm {
    background-image: url(../img/flag/hm.svg);
}
.flag.hn {
    background-image: url(../img/flag/hn.svg);
}
.flag.hr {
    background-image: url(../img/flag/hr.svg);
}
.flag.ht {
    background-image: url(../img/flag/ht.svg);
}
.flag.hu {
    background-image: url(../img/flag/hu.svg);
}
.flag.id {
    background-image: url(../img/flag/id.svg);
}
.flag.ie {
    background-image: url(../img/flag/ie.svg);
}
.flag.il {
    background-image: url(../img/flag/il.svg);
}
.flag.im {
    background-image: url(../img/flag/im.svg);
}
.flag.in {
    background-image: url(../img/flag/in.svg);
}
.flag.io {
    background-image: url(../img/flag/io.svg);
}
.flag.il {
    background-image: url(../img/flag/il.svg);
}
.flag.im {
    background-image: url(../img/flag/im.svg);
}
.flag.in {
    background-image: url(../img/flag/in.svg);
}
.flag.io {
    background-image: url(../img/flag/io.svg);
}
.flag.iq {
    background-image: url(../img/flag/iq.svg);
}
.flag.ir {
    background-image: url(../img/flag/ir.svg);
}
.flag.is {
    background-image: url(../img/flag/is.svg);
}
.flag.it {
    background-image: url(../img/flag/it.svg);
}
.flag.je {
    background-image: url(../img/flag/je.svg);
}
.flag.jm {
    background-image: url(../img/flag/jm.svg);
}
.flag.jo {
    background-image: url(../img/flag/jo.svg);
}
.flag.jp {
    background-image: url(../img/flag/jp.svg);
}
.flag.ke {
    background-image: url(../img/flag/ke.svg);
}
.flag.kg {
    background-image: url(../img/flag/kg.svg);
}
.flag.kh {
    background-image: url(../img/flag/kh.svg);
}
.flag.ki {
    background-image: url(../img/flag/ki.svg);
}
.flag.km {
    background-image: url(../img/flag/km.svg);
}
.flag.kn {
    background-image: url(../img/flag/kn.svg);
}
.flag.kp {
    background-image: url(../img/flag/kp.svg);
}
.flag.kr {
    background-image: url(../img/flag/kr.svg);
}
.flag.kw {
    background-image: url(../img/flag/kw.svg);
}
.flag.ky {
    background-image: url(../img/flag/ky.svg);
}
.flag.kz {
    background-image: url(../img/flag/kz.svg);
}
.flag.la {
    background-image: url(../img/flag/la.svg);
}
.flag.lb {
    background-image: url(../img/flag/la.svg);
}
.flag.lc {
    background-image: url(../img/flag/lc.svg);
}
.flag.li {
    background-image: url(../img/flag/li.svg);
}
.flag.lk {
    background-image: url(../img/flag/lk.svg);
}
.flag.lr {
    background-image: url(../img/flag/lr.svg);
}
.flag.ls {
    background-image: url(../img/flag/ls.svg);
}
.flag.lt {
    background-image: url(../img/flag/lt.svg);
}
.flag.lu {
    background-image: url(../img/flag/lu.svg);
}
.flag.lv {
    background-image: url(../img/flag/lv.svg);
}
.flag.ly {
    background-image: url(../img/flag/ly.svg);
}
.flag.mo {
    background-image: url(../img/flag/mo.svg);
}
.flag.ma {
    background-image: url(../img/flag/ma.svg);
}
.flag.mc {
    background-image: url(../img/flag/mc.svg);
}
.flag.md {
    background-image: url(../img/flag/md.svg);
}
.flag.me {
    background-image: url(../img/flag/me.svg);
}
.flag.mf {
    background-image: url(../img/flag/mf.svg);
}
.flag.mg {
    background-image: url(../img/flag/mg.svg);
}
.flag.mh {
    background-image: url(../img/flag/mh.svg);
}
.flag.mk {
    background-image: url(../img/flag/mk.svg);
}
.flag.ml {
    background-image: url(../img/flag/ml.svg);
}
.flag.mm {
    background-image: url(../img/flag/mm.svg);
}
.flag.mn {
    background-image: url(../img/flag/mn.svg);
}
.flag.mo {
    background-image: url(../img/flag/mo.svg);
}
.flag.mp {
    background-image: url(../img/flag/mp.svg);
}
.flag.mq {
    background-image: url(../img/flag/mq.svg);
}
.flag.mr {
    background-image: url(../img/flag/mr.svg);
}
.flag.ms {
    background-image: url(../img/flag/ms.svg);
}
.flag.mt {
    background-image: url(../img/flag/mt.svg);
}
.flag.mu {
    background-image: url(../img/flag/mu.svg);
}
.flag.mv {
    background-image: url(../img/flag/mv.svg);
}
.flag.mw {
    background-image: url(../img/flag/mw.svg);
}
.flag.mx {
    background-image: url(../img/flag/mx.svg);
}
.flag.my {
    background-image: url(../img/flag/my.svg);
}
.flag.mz {
    background-image: url(../img/flag/mz.svg);
}
.flag.na {
    background-image: url(../img/flag/na.svg);
}
.flag.nc {
    background-image: url(../img/flag/nc.svg);
}
.flag.ne {
    background-image: url(../img/flag/ne.svg);
}
.flag.nf {
    background-image: url(../img/flag/nf.svg);
}
.flag.ng {
    background-image: url(../img/flag/ng.svg);
}
.flag.ni {
    background-image: url(../img/flag/ni.svg);
}
.flag.nl {
    background-image: url(../img/flag/nl.svg);
}
.flag.no {
    background-image: url(../img/flag/no.svg);
}
.flag.np {
    background-image: url(../img/flag/np.svg);
}
.flag.nr {
    background-image: url(../img/flag/nr.svg);
}
.flag.nu {
    background-image: url(../img/flag/nu.svg);
}
.flag.nz {
    background-image: url(../img/flag/nz.svg);
}
.flag.om {
    background-image: url(../img/flag/om.svg);
}
.flag.pa {
    background-image: url(../img/flag/pa.svg);
}
.flag.pe {
    background-image: url(../img/flag/pe.svg);
}
.flag.pf {
    background-image: url(../img/flag/pf.svg);
}
.flag.pg {
    background-image: url(../img/flag/pg.svg);
}
.flag.ph {
    background-image: url(../img/flag/ph.svg);
}
.flag.pk {
    background-image: url(../img/flag/pk.svg);
}
.flag.pl {
    background-image: url(../img/flag/pl.svg);
}
.flag.pm {
    background-image: url(../img/flag/pm.svg);
}
.flag.pn {
    background-image: url(../img/flag/pn.svg);
}
.flag.pr {
    background-image: url(../img/flag/pr.svg);
}
.flag.ps {
    background-image: url(../img/flag/ps.svg);
}
.flag.pt {
    background-image: url(../img/flag/pt.svg);
}
.flag.pw {
    background-image: url(../img/flag/pw.svg);
}
.flag.py {
    background-image: url(../img/flag/py.svg);
}
.flag.qa {
    background-image: url(../img/flag/qa.svg);
}
.flag.re {
    background-image: url(../img/flag/re.svg);
}
.flag.ro {
    background-image: url(../img/flag/ro.svg);
}
.flag.rs {
    background-image: url(../img/flag/rs.svg);
}
.flag.ru {
    background-image: url(../img/flag/ru.svg);
}
.flag.rw {
    background-image: url(../img/flag/rw.svg);
}
.flag.sa {
    background-image: url(../img/flag/sa.svg);
}
.flag.sb {
    background-image: url(../img/flag/sb.svg);
}
.flag.sc {
    background-image: url(../img/flag/sc.svg);
}
.flag.sd {
    background-image: url(../img/flag/sd.svg);
}
.flag.se {
    background-image: url(../img/flag/se.svg);
}
.flag.sg {
    background-image: url(../img/flag/sg.svg);
}
.flag.sh {
    background-image: url(../img/flag/sh.svg);
}
.flag.si {
    background-image: url(../img/flag/si.svg);
}
.flag.sj {
    background-image: url(../img/flag/sj.svg);
}
.flag.sk {
    background-image: url(../img/flag/sk.svg);
}
.flag.sl {
    background-image: url(../img/flag/sl.svg);
}
.flag.sm {
    background-image: url(../img/flag/sm.svg);
}
.flag.sn {
    background-image: url(../img/flag/sn.svg);
}
.flag.so {
    background-image: url(../img/flag/so.svg);
}
.flag.sr {
    background-image: url(../img/flag/sr.svg);
}
.flag.ss {
    background-image: url(../img/flag/ss.svg);
}
.flag.st {
    background-image: url(../img/flag/st.svg);
}
.flag.sv {
    background-image: url(../img/flag/sv.svg);
}
.flag.sx {
    background-image: url(../img/flag/sx.svg);
}
.flag.sy {
    background-image: url(../img/flag/sy.svg);
}
.flag.sz {
    background-image: url(../img/flag/sz.svg);
}
.flag.tc {
    background-image: url(../img/flag/tc.svg);
}
.flag.td {
    background-image: url(../img/flag/td.svg);
}
.flag.tf {
    background-image: url(../img/flag/tf.svg);
}
.flag.tg {
    background-image: url(../img/flag/tg.svg);
}
.flag.th {
    background-image: url(../img/flag/th.svg);
}
.flag.tj {
    background-image: url(../img/flag/tj.svg);
}
.flag.tk {
    background-image: url(../img/flag/tk.svg);
}
.flag.tl {
    background-image: url(../img/flag/tl.svg);
}
.flag.tm {
    background-image: url(../img/flag/tm.svg);
}
.flag.tn {
    background-image: url(../img/flag/tn.svg);
}
.flag.to {
    background-image: url(../img/flag/to.svg);
}
.flag.tr {
    background-image: url(../img/flag/tr.svg);
}
.flag.tt {
    background-image: url(../img/flag/tt.svg);
}
.flag.tv {
    background-image: url(../img/flag/tv.svg);
}
.flag.tw {
    background-image: url(../img/flag/tw.svg);
}
.flag.tz {
    background-image: url(../img/flag/tz.svg);
}
.flag.ua {
    background-image: url(../img/flag/ua.svg);
}
.flag.ug {
    background-image: url(../img/flag/ug.svg);
}
.flag.um {
    background-image: url(../img/flag/um.svg);
}
.flag.un {
    background-image: url(../img/flag/un.svg);
}
.flag.us {
    background-image: url(../img/flag/us.svg);
}
.flag.uy {
    background-image: url(../img/flag/uy.svg);
}
.flag.uz {
    background-image: url(../img/flag/uz.svg);
}
.flag.va {
    background-image: url(../img/flag/va.svg);
}
.flag.vc {
    background-image: url(../img/flag/vc.svg);
}
.flag.ve {
    background-image: url(../img/flag/ve.svg);
}
.flag.vg {
    background-image: url(../img/flag/vg.svg);
}
.flag.vi {
    background-image: url(../img/flag/vi.svg);
}
.flag.vn {
    background-image: url(../img/flag/vn.svg);
}
.flag.vu {
    background-image: url(../img/flag/vu.svg);
}
.flag.wf {
    background-image: url(../img/flag/wf.svg);
}
.flag.ws {
    background-image: url(../img/flag/ws.svg);
}
.flag.ye {
    background-image: url(../img/flag/ye.svg);
}
.flag.yt {
    background-image: url(../img/flag/yt.svg);
}
.flag.za {
    background-image: url(../img/flag/za.svg);
}
.flag.zm {
    background-image: url(../img/flag/zm.svg);
}
.flag.zw {
    background-image: url(../img/flag/zw.svg);
}

/* Step */
.step--list {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(calc(-50% + 340px + 178px));
}
.step--list .step--header {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
}
.step--list ul,
.step--list ol {
    margin: 0;
    padding: 0;
}
.step--list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.step--list ol {
    counter-reset: counter;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
}

.step--list ol li {
    counter-increment: counter;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.15px;
    color: #999999;
}
.step--list ol li::before {
    margin-right: 9px;
    content: counter(counter);
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    font-size: 16px;
    background: #999999;
    color: var(--white);
    text-align: center;
}

.step--list li.step--active {
    color: var(--basic-black);
}
.step--list li.step--active::before {
    background: var(--basic-black);
}

.rounded {
    width: 30px;
    height:30px;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.rounded.rounded--black {
    background: var(--basic-black);
    color: var(--white);
}

/* Choice */
.choice {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.choice li {
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    list-style: none;
    background: #F1F1F1;
    position: relative;
}
.choice li input[type=radio] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
}
.choice li label {
    padding: 0 0 0 19px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

.choice li input[type=radio]::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--white);
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}
.choice li input[type=radio]:checked {
    width: 100%;
    background: var(--red-up);
}
.choice li input[type=radio]:checked+label {
    color: #fff;
}

/* Checkbox */
.checkbox.checkbox--rounded input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
}
.checkbox.checkbox--rounded input[type=checkbox]::before {
    margin-right: 8px;
    display: inline-block;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #999 url('../img/icon/icon-check.svg') no-repeat center center;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox.checkbox--rounded input[type=checkbox]:checked::before {
    background-color: var(--red-up);
}
.checkbox.checkbox--rounded input[type=checkbox]+label {
    font-weight: 500;
    color: #999;
}
.checkbox.checkbox--rounded input[type=checkbox]:checked+label {
    color: var(--red-up);
}

/* Grid */
.d-grid.column-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
}

input[type=file].image-selector {
    width: 100%;
    height: 110px;
    position: relative;
    cursor: pointer;
    
}
input[type=file].image-selector::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: #F1F1F1;
    opacity: 1;
}
input[type=file].image-selector::after{
    display: block;
    content: "";
    position: absolute;
    width: 26px;
    height: 21px;
    top: 50%;
    left: 50%;
    background: #B81C22;
    -webkit-mask-image: url('../img/icon/icon-camera.svg');
    mask-image: url('../img/icon/icon-camera.svg');
    transform: translate(-50%, -50%);
}
.box-image-selector {
    position: relative;padding-top: 75%;
}
.box-image-selector input[type=file].image-selector {
    position: absolute;top:0;height:100%;opacity:10;
}
.box-image-selector input[type=file].image-selector ~ .preview {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    background: url(about:blank) no-repeat 50% 50%/cover transparent;
    left:0;
    top:5px;
}

.row {
    width: 100%;
    display: flex;
    margin-bottom: 7px;
}

.row > * {
    flex: 0 1 auto;
    margin-right: 7px;
}
.row > :last-child {
    margin-right: 0;
}
.row .col {
    flex: 1 1 auto;
}
.row .col-6 {
    width: calc(50% - 3.5px);
}

.boxed {
    height: 286px;
    padding: 22px 23px;
    background: var(--lightgray);
    box-sizing: border-box;
}
.boxed--transparent {
    background: transparent;
    border: 1px solid var(--blue-mid-gray);
}

/* */
.daterange {
    width: 259px;
    padding-left: 39px;
    position: relative;
    background: var(--white) url('../img/icon/icon-calendar.svg') no-repeat 11px center;
    border: 0.35px solid #DFDFDF;
    box-sizing: border-box;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
}
.daterange::before {
    display: block;
    width: 18px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: var(--blue-gray);
    -webkit-mask-image: url('../img/icon/icon-calendar.svg');
    mask-image: url('../img/icon/icon-calendar.svg');
    content: "";
}

/* Modal */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1280 / 780;
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.15));
}
.modal--body::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
.modal--body::-webkit-scrollbar-button {
    height: 8px;
}
.modal--body::-webkit-scrollbar-thumb{
    background: rgba(131, 137, 158, .8);
    border-radius: 5px;
}
.modal--body::-webkit-scrollbar-track{
    background:rgba(119, 119, 119, 0.1); /* 또는 트랙에 추가한다 */
}
.modal.modal--open {
    display: flex;
}
.modal::before {
    display: block;
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
}

.modal .modal--dialog {
    width: calc(100% * (1280 / 1440));
    height: calc(100% - 140px);
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.15));
    padding: 14px 70px;
    box-sizing: border-box;
    overflow: hidden;
}

.modal .modal--dialog {
    padding: 0 0;
    border-radius: 15px;

}
.modal .modal--body {
    flex: 1 1 auto;
    overflow-y: auto;
    background: var(--white);
}

.modal--content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.modal.modal--tiny .modal--dialog {
    /* width: 420px; */
	width: 100%;
	max-width: 370px;
    height: 460px;
    background: var(--white)
}

#modal--dialog-wallet-option {
    /* width: 420px; */
	width: 100%;
	max-width: 402px;
    height: 508px;
    background: var(--white);
    padding : 19px 33px 0px 33px;
}

.modal .modal--header {
    font-weight: 700;
    font-size: 21px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 12.5px;
    padding-left: 21px;
    padding-right: 21px;
    box-sizing: border-box;
    background: #FAFAFA;
}

.modal .modal--contents {
    height: 100%;
}
.modal img {
    width: 100%;
    max-height: 100%
}

/* modal 추가 */
.modal--content > .form--controls:not(:nth-of-type(3)){
	margin-bottom: 43px;
}
.modal--content .form--controls > label{
	display: inline-block;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 16px;
}

.modal--content .form--controls > input{
	border-color: #DFDFDF;
}

.tab-content {
    display: none;
}

/* Loading */
.loading {
    position: relative;
}
.loading::before {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .05);
    z-index: 99;
    cursor: wait;
}
.loading::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 31px;
    background-image: url('../img/loading.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}
[disabled] {
    cursor: not-allowed !important;
}

@media (max-width: 600px) { 
    .validation--message {
        padding: 0 0 0 24px;
        background: transparent url('../img/icon/ico-warn-pink.svg') no-repeat 0 50%;
        color: var(--warning);
    }
	.validation--message.subtract{
		padding: 0 0 0 24px;
        background: transparent url('../img/icon/ico-subtract.svg') no-repeat 0 50%;
        color: #34C759;
	}
    /* .step--list {
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        align-self: center;

    } */
    /* .step--list .step--header {
        display: none;
    } */
    .step--list ol li {
        width: 10px;
        height: 10px;
		margin-right: 10px;
        font-size: 0;
        text-indent: -9999px;
        background: var(--mid-gray);
        border-radius: 50%;
    }
    .step--list .step--active{
        background: var(--basic-black);
    }
    /*.step--list .step--active {
        background: var(--basic-black);
    }*/
}
.notification--list {
    margin: 0;
    padding: 0;
    list-style: none;
    /* display: flex !important; */
    flex-direction: column;
    row-gap: 49px;
    width: 100%;
}
.notification--list li {
    width: 100%;


}
.notification--list .notification--date,
.notification--list .notification--nick {
    font-weight: 500;
    color: #8B95A1;
}
.notification--list .notification--content {
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 14px;
    margin-top: 6px;
    color: var(--basic-black);
    display: flex;
}

.notification--list .icon--new {
display: inline-block;
content: "";
width: 16px;
height: 16px;
background: var(--red-up) url('../img/icon/icon-new.svg') no-repeat center center;
border-radius: 2px;
vertical-align: middle;
margin-left: 8px;
flex: 0 0 auto;
}

.notification--list .notification--header {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 425px) {
    .row .col-6 {
        width: calc(100%);
    }
}
