footer {
	width: 100%;
	margin-top: auto;
	/* height: 160px; */
	color: var(--gray003);
	position: relative;
	letter-spacing: -0.02em;
	font-size: 12px!important;
	/* padding: 30px 0 25px 40px;
	box-sizing: border-box; */
	background: #FFFFFF;
}
.sub footer{
	background: #121212;
	color: #fff;
}

.sub .fnb ul li a{
	color:#fff;
}

.footer_inner{
	max-width: 1440px;
	margin:0 auto;
	display: flex;
	/* background: #f8f8f8; */
	padding: 30px 0 25px 0px;
	box-sizing: border-box;
	margin-left: 15px;
}

footer .logo {
	width: 142px;
	height: 32px;
	background: url('../img/Teaplat-logo_black.png') no-repeat center center;
	background-size: cover;
	font-size: 1px;
	line-height: 0;
	text-indent: -9999px;
}

footer .logo a {
	width: 100%;
	height: 100%;
	display: block;
}

.fnb {
	/* margin-left: 134px; */
	max-width: 650px;
	width: 100%;
}

.fnb ul{
	margin: 0;
	margin-right : 15px;
	padding:0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.fnb ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 0;
	font-size: 13px;
	height: 12px;
	align-self: center;
}

.fnb ul li a {
	display: inline-block;
	height: 12px;
	line-height: 12px;
}

.fnb ul li+li {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid var(--lightlight-green);
	}

.fnb ul li a{
	color: var(--gray003);
}

footer .copyright {
	margin-top: 16px;
	font-weight: 400;
	line-height: 17.38px;
	text-transform: uppercase;
}

footer .copyright address{
	width: 100%;
	/*display: flex;
	flex-direction: row;
	flex-wrap:wrap;*/
}

footer .copyright address > span{
	display: inline-block; 
	margin-right: 4%;
}
footer span{vertical-align:initial !important;}
footer .copyright .copy{margin-top: 20px;}
footer .customer--text {
    width: 163px;
    height: 19px;
    line-height: 19px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 68.06%;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    background: var(--blue-gray);
}

footer .customer--number {
    position: absolute;
    top: 30.62%;
    left: 68.06%;
    font-weight: 350;
    font-size: 30px;
    line-height: 43px;
    text-transform: uppercase;
    color: #838860;
}

footer .customer--time {
	position: absolute;
	top: 62.5%;
	left: 68.06%;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
}



/*
@media screen and (max-width: 600px) {
	footer{height: auto; padding: 0; box-sizing: border-box; }
	.footer_inner{width: 100%; padding:30px 0 25px; flex-direction: column; justify-content: center; align-items: center; height: auto;}
	footer .fnb{
		margin-left: 0; 
		/* margin-top: 20px; 
	}
	footer .fnb ul{justify-content: center;}
	footer .copyright{
		/* margin-bottom: 20px;  
		text-align: center;
	}
	footer .copyright address{justify-content: center; text-align: center; flex:auto;}
	footer .customer--text,footer .customer--number,footer .customer--time{position: static;}
}*/
/* @media screen and (max-width: 800px) {
	.footer_inner{padding:30px 10px 25px;}
} */
