body > header {
	position: relative;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0);
}
body.exchange > .container > header{
	background: rgba(0, 0, 0, 0);
} 

.header_inner{
	width: 1440px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	height: 60px;
}

header .logo {
	width: 145px;
	height: 21px;
	background: url('../img/Teaplat-logo_color.png') no-repeat center center;
	background-size: cover;
	font-size: 1px;
	line-height: 0;
	text-indent: -9999px;
	z-index: 2;
	position: absolute;
	left: 30px;
	/* left: 40px; */
	/* left: 0; */
}
header .logo a {
    width: 100%;
    height: 100%;
    display: block;
}

.nav {
	position: absolute;
	left: 50%;
	/* transform: translateX(-57%); */ 
	/* 글이 길어질 시 이렇게 */
	transform: translateX(-50%);
	display: flex;
	flex-wrap: nowrap;
    align-items: center;
	justify-content: center;
    height: 60px;
	width: 100%;
	max-width: 840px;
}

.nav > ul {
	margin: 0;
	padding-left: 0;
    height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.nav > ul li {
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0 3%;
	/* 글이 길어질 시 이렇게 */
	/* padding: 0 1%; */
    list-style: none;
    line-height: 60px;
	white-space: nowrap;
}

.nav > ul li a {
    font-size: 15px;
    font-weight: 500;
    color: var(--basic-black);
    letter-spacing: -0.05em;
    opacity: .6;
}

.nav > ul li .btn--login {
    display: block;
    width: 72px;
    height: 22px;
    line-height: 22px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0);
    color: #E21A32!important;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.nav ul li.active a {opacity: 1;}

.nav--side {
	height: 60px;
	display: flex;
	flex-wrap: nowrap;
	/* justify-content: space-between; */
	justify-content: flex-end;
	align-items: center;
	column-gap:10%;
	font-size: 14px;
	position: absolute;
	right: 30px;
}
.nav--side > *{
	white-space: nowrap;
}

.nav--side .btn--login {
    display: block;
    width: 72px;
    height: 22px;
    line-height: 22px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0);
    color: #E21A32!important;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
.nav--side .btn--logout {
    display: block;
    width: 103px;
    height: 22px;
    line-height: 22px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0);
    color: #E21A32!important;
    font-size: 14px;
	padding: 0 1rem;
    font-weight: 500;
}

.nav--side .btn--mypage{
	display: block;
    width: 72px;
	height: 22px;
    line-height: 22px;
    border-radius: 30px;
	text-align: center;
    font-weight: 500;
    font-size: 14px;
	background: transparent;
	padding-left : 30px;
}

.nav--side .language{
	display: none;
}

.nav--side .language .dropdown {
    border: 0 none;
    padding:0 14px 0 0;
    font-weight: 500;
	text-transform: capitalize;
}
.nav--side .language .dropdown::after {
    width: 10px;
    right: 0;
    opacity: .5;
}
.nav--side .language .dropdown--item>span,
.nav--side .language .dropdown--item button {
	text-transform: capitalize;
}

.nav--side {
    z-index: 9;
}
.nav--side .btn--login {
    color: var(--white);
}

.nav--side .profile .dropdown,
.nav--side .wallet .dropdown {
    border: 0 none;
}
.nav--side .profile .dropdown::after,
.nav--side .wallet .dropdown::after {
    display: none;
}
.nav--side .profile .dropdown+.dropdown--item {
    left: 0;
}
.nav--side .wallet .dropdown+.dropdown--item {
    left: -25%;
}
.nav--side .profile .dropdown+.dropdown--item,
.nav--side .wallet .dropdown+.dropdown--item {
    padding-top: 0;
    top: 40px;
}
.nav--side .profile .dropdown+.dropdown--item ul li {
    height: 17px;
    line-height: 17px;
}
.nav--side .profile .dropdown+.dropdown--item ul li:not(:last-child) {
    margin-bottom: 10px;
}
.nav--side .language .dropdown+.dropdown--item{
    left: -21px;
	top: 10px;
}

.nav--side.mobile{
	width: calc(100% - 35px);
	height: auto;
	right: 0px;
	left: 20px;
	bottom: 15px;
	flex-direction: row;
	justify-content: space-between;
}

.nav--side.mobile .btn--login,
.nav--side.mobile .btn--logout,
.nav--side.mobile .language .dropdown{
	width: 80px;
}

.nav--side.mobile .language .dropdown+.dropdown--item{
	left: 0;
	bottom: 0;
	top: initial;
}

.nav--side.mobile .btn--login,
.nav--side.mobile .btn--logout{
	height: 25px;
	line-height: 25px;
}
/* ####################################### */

.box-menu {
    width: calc(100% - 300px);
    text-align: right;
    font-size: 14px;
    font-weight: normal;
}

.box-mobile-menu,
.gnb {
    display: none;
}
/****** 230308 header 수정 ******/
.contents--header{
	display: none;
	
}
.sub .contents .contents--header2 {
    font-family: Inter !important;
    font-weight: 700 !important;
    font-size: 24px;
    height: 57px;
    color: #E21A32;
    border-bottom: 4px solid #E21A32;
    box-sizing: border-box;
    margin-bottom: 34px;
}
.contents--header2 a{
	width: 40px;
	height: 24px;
	font-size:24px;
	font-weight:700;
	color:var(--basic-black);
	margin-top:0px;
	float:left;
	display:relase;
}

.contents--header2 p{
	width: 200px;
	height: 24px;
	font-size:24px;
	font-weight:700;
	color:var(--basic-black);
	margin-top:0px;
	float:left;
	display:relase;
}
.contents--header2 button{
	margin-top:8px;
	float:right;
	display:none;
}


@media screen and (max-width: 1440px) {
	.nav > ul li a {font-size: 14px}
	.nav--side [class*=btn--]{font-size: 14px;}
}

@media screen and (min-width: 801px) and (max-width: 1440px){
	.header_inner{
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1280px) {
	.nav{
		width: 100%;
		max-width: 720px;
	}
	.nav > ul li a {font-size: 13px}
	.nav--side{width: 190px;}
	.nav--side [class*=btn--]{font-size: 12px;}

	.nav--side .dropdown{font-size: 12px;}
	.nav--side .dropdown+.dropdown--item ul li a{font-size: 12px;}
	.nav--side .dropdown+.dropdown--item ul li{font-size: 12px;}
}

@media screen and (max-width: 1100px){
	header .logo{
		left: 75px;
	}
	header .nav{display: none;}
	
	.contents--header a{
		color: var(--red-up)
	}

	.box-mobile-menu {
        display: block;
        position: absolute;
        z-index: 1002;
        text-align: center;
        width: 60px;
		height: 60px;
        left: 5px;
        top: 0px;
    }

	.btn.hamburger {
		font-size: 2rem;
		width: 100%;
		height: 100%;
		line-height: 60px;
	}
	
	.btn.hamburger.on {
		display: inline-block;
		text-indent: -9999px;
		line-height: 0;
	}
	
	.btn.hamburger.on:after {
		content: 'X';
		text-indent: 0;
		display: block;
		line-height: 60px;
	}
	
	.gnb {
        z-index: 10;
		display: none;
        position: absolute;
        width: 300px;
        background-color: #fff;
        left: 0;
        top: 0;
        height: 100vh;
        padding-top: 85px;
		padding-left: 0;
		z-index: 1001;
    }

    .gnb > * {
        padding: 0 1rem 0 2.5rem;
        line-height: 3rem;
        font-size: 16px;
        text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
    }
}


@media screen and (max-width: 800px){
	.sub .contents .contents--header2 {
	    font-family: Inter !important;
	    font-weight: 700 !important;
	    margin-top: 10px;
		height: 30px;
	    color: #E21A32;
	    border-bottom: 2px solid #E21A32;
	    box-sizing: border-box;
	    margin-bottom: 20px;
	}
	.contents--header2 p{
		width: 200px;
		height: 15px!important;
		font-size:14px;
		font-weight:700;
		color:var(--basic-black);
		float:left;
		display:relase;
	}
	.contents--header2 button{
		font-size:13px;
		float:right;
		display : block;
	}
	.sub header{padding-left: 11px; height: 60px;}
	.sub header .logo, .sub header .nav{display: none!important;}

	 /* 뒤로가기 버튼 */
	.sub header .navigation--back {
		display: block;
		text-indent: -9999px;
		width: 24px;
		height: 24px;
		background: transparent url('../img/icon/icon-back.svg') no-repeat 0 50%;
		border: 0 none;
	}

	.sub header .navi--back {
		display: block;
		text-indent: -9999px;
		width: 24px;
		height: 24px;
		background: transparent url('../img/icon/icon-back.svg') no-repeat 0 50%;
		border: 0 none;
	}
	
	/* 햄버거 메뉴 */
    .sub .contents .contents--header .navigation {
        width: 24px;
        height: 24px;
        background: url('../img/menu.svg') no-repeat 0 50%;
        border: 0 none;
		margin-right : 0px!important;
        float:left;
    }
	/* 로고 메뉴 */
    .sub .contents .contents--header a {
        width: 100px;
        height: 24px;
	font-size:16px;
	font-weight:700;
	padding-right:16px;
        float:right;
		display:relase;
		/*background: url('../img/Teaplat-logo_color.png') no-repeat center center;
		background-size: cover;*/
    }
	/* 빈공간 */
	.sub .contents .contents--header span {
		width: calc(100% - 139px);
	}
	/* 오른쪽 정렬 */
	.sub .contents .contents--header{
		display: flex;
		justify-content: flex-start!important;
	}
	
	.sub .contents .contents--header .navigation--back,
	.sub .contents .contents--header .navigation,
	.sub .contents .contents--header .navi--back {
		line-height: 48px;
		height: 48px;
		margin: 0 20px 0 0;
	}

	/* .sub .contents .navigation--back{height: 48px;} */

	.box-mobile-menu{display: none;}

	.sub .contents .contents--header h1{
		color: #E21A32;
	}
	
	aside ul li a{
		padding-left : 25px;
	}
	/* 작은화면에서 로그인 CSS */
	.mobile_side_login{
		color: #E21A32!important;margin-left: 5px;
	}
}
